
.hero {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100vh;
  margin-top: 190px;
  padding: 20px 0;
}

.hero-text {
  max-width: 40%;
  padding: auto 0;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: 700;
  color: #1a2a44;
  line-height: 1.2;
  margin-bottom: 20px;
}

.hero-text p {
  font-size: 18px;
  line-height: 1.5;
  margin-bottom: 30px;
}

.report {
  display: inline-block;
  align-items: center;
  background-color: #007bff;
  color: #fff;
  padding: 12px 24px;
  border-radius: 25px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.download-apps {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 20px;
}

.download-apps a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16.5px 16px;
  border-radius: 12px;
  font-weight: 600;
  white-space: nowrap;
  height: 53px;
  color: #fff;
  background: #122231;
  border: none;
}

.download-apps a img {
  width: 18px;
  height: 22px;
  margin-right: 5px;
}


.hero-img {
  position: absolute;
  top: 0;
  right: 0;
  width: 500px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  z-index: 1;
  animation: float 2s ease-in-out infinite;
}

.main-img {
  width: 100%;
}


.hero-cards img {
  position: absolute;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  z-index: 2;
}

.card-1 {
  top: 10%;
  left: -15%;
  width: 200px;
}

.card-3 {
  top: 40%;
  left: -15%;
  width: 200px;
}

.card-5 {
  bottom: 5%;
  left: -15%;
  width: 180px;
}


.card-2 {
  top: 5%;
  right: -10%;
  width: 200px;
}

.card-4 {
  top: 40%;
  right: -10%;
  width: 180px;
}



.card-6 {
  bottom: 5%;
  right: -10%;
  width: 200px;
}

@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-20px);
  }

  100% {
    transform: translateY(0);
  }
}